<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixan.ddd.infrastructure.common.db.mapper.SybaseTestUserMapper">
    <!--计算id大于等于参数@id_min的id数量存入参数@num_123中返回-->
    <select id="countIdGreaterThan" statementType="CALLABLE" parameterType="com.ixan.ddd.domain.aggregate.entity.valueobject.CountValueDTO">
        {call sp_test(
                #{minId,mode=IN,jdbcType=INTEGER},
                #{countNo,mode=OUT,jdbcType=INTEGER}
            )}
    </select>

</mapper>
